@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Press Start 2P", system-ui;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* APP */
#root {
  background: black;
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
}

.body {
  margin: 0;
  padding: 0;
  display: block;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  /* font-family: "Press Start 2P", system-ui; */
  font-weight: 400;
  font-style: normal;
}

/* footer */
ul {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
}

@media (min-width: 500px) {
  ul {
    grid-auto-flow: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    opacity: 0.8;
  }
  li {
    color: white;
  }
}

a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

li:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

li:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}

#footer {
  position: fixed;
  bottom: 20px;
  display: table;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
